config.inc.php
.env
cache/_db/*
!cache/_db/.keep
cache/t_cache/*
!cache/t_cache/.keep
cache/t_compile/*
!cache/t_compile/.keep
cache/t_config/*
!cache/t_config/.keep
/public/about/*
/public/site/images/*
/plugins/themes/hrp/images/banner.png
/plugins/themes/hrp/images/footer.png
/plugins/themes/hrp/hrp.css
/lib/pkp/locale/*/areasOfTheCountry.xml
/lib/pkp/locale/*/researchFields.xml
/classes/lib/libchart/images/*
!/classes/lib/libchart/images/PoweredBy.png
*.swp
EER.mwb
EER.pdf
HRP_User_Manual_Generic.tar.gz
